* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: monospace;
  background-color: #f1f1f1;
}

header {
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.5em;
}

header > nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 16px;
  list-style: none;
}

header > nav > ul > li > a {
  all: unset;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

header > nav > ul > li > a:hover {
  color: yellow;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
  gap: 16px;
  padding: 16px;
  border-bottom: 1px solid #ccc;
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

i.bi {
  font-size: 24px;
  cursor: pointer;
}

i#menuIcon {
  display: none;
}

div#sidebar {
  display: none;
  background-color: yellow;
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  padding: 16px;
}

div#sidebar > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid black;
}

div#sidebar > div > h1 {
  font-size: 1.5em;
}

div#sidebar > ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
  list-style: none;
  margin-top: 16px;
}

div#sidebar > ul > li > a {
  all: unset;
  color: black;
  cursor: pointer;
  transition: all 0.3s;
}

div#sidebar > ul > li > a:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  i#menuIcon {
    display: block;
  }

  header > nav > ul {
    display: none;
  }
}
