* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: monospace;
}

button {
  all: unset;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  text-align: center;
}

button.primary {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
}

button.primary-black {
  background-color: #000000;
  color: #ffffff;
  border: none;
}

button.outline {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}
