* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: #f0f0f0;
}

h1,
h2,
h3 {
  font-size: 2rem;
  line-height: 1.8;
}

h4,
h5,
h6 {
  font-size: 1.5rem;
  line-height: 1.5;
}

p {
  font-size: 1rem;
  line-height: 1.2;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}
